<body>
  <div class="navigation telephone-nav w-nav" data-animation="default" data-collapse="medium" data-duration="400">
    <div class="navigation-div w-clearfix">
      <%= link_to root_path, class: 'logo w-nav-brand' do %>
        <h1 class="logo">MemoryWell<span class="yellow">.</span></h1>
      <% end %>
      <div class="right-navigation-block w-clearfix">
        <nav class="navigation-menu-left w-nav-menu" role="navigation"><a class="nav-link w-nav-link" href="tel:+17734422769">TEL:&nbsp;(773) 442 2769</a>
        </nav>
      </div>
      <div class="w-nav-button">
        <div class="w-icon-nav-menu"></div>
      </div>
    </div>
  </div>
  <div class="plain-page section-for-families">
    <div class="success-container w-container">
      <h2 class="success-heading">Our experts are reviewing your information and will call soon.</h2>
      <p class="centered grey-paragraph">For immediate assistance, please call <span class="bold">(773) 442-2769.</span>
      </p><%= link_to 'go back to homepage', root_path, class: 'x-large w-button yellow-button' %>
    </div>
  </div>
</body>

