/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/* CUSTOM CSS */

body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: freight-text-pro, sans-serif;
  color: #6c5788;
  font-size: 42px;
  line-height: 50px;
  font-weight: 700;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: transparent;
  font-family: freight-text-pro, sans-serif;
  color: #6c5788;
  font-size: 36px;
  line-height: 52px;
  font-weight: 700;
  text-align: center;
}

h3 {
  margin-top: 5px;
  margin-bottom: 0px;
  font-family: freight-text-pro, sans-serif;
  color: #6c5788;
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
}

h4 {
  margin-bottom: 15px;
  font-family: rooney-sans, sans-serif;
  color: #497d91;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  text-transform: uppercase;
}

a {
  display: block;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  font-family: rooney-sans, sans-serif;
  color: #7cb1b6;
  font-size: 18px;
  line-height: 20px;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
}

a:hover {
  color: #538a8f;
}

img {
  display: inline-block;
  max-width: 100%;
}

strong {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0px;
  text-decoration: underline;
  text-indent: 0px;
}

.navigation {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  height: 90px;
  padding-top: 12px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eaeaf3;
  background-color: #fff;
}

.navigation.small-nav {
  position: fixed;
  height: 60px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #fff;
}

.navigation.telephone-nav {
  position: static;
}

.logo {
  margin-top: 5px;
  margin-bottom: 0px;
  margin-left: 0px;
  font-size: 32px;
  line-height: 26px;
  text-align: center;
}

.logo.small-logo {
  margin-top: 0px;
  color: hsla(191, 5%, 43%, .4);
  font-size: 22px;
  line-height: 26px;
}

.logo.small-logo.m-only {
  display: none;
}

.navigation-menu-left {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  float: left;
}

.nav-link {
  padding-top: 16px;
  padding-right: 25px;
  padding-left: 25px;
  font-family: proxima-nova-soft, sans-serif;
  color: #8990a1;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.nav-link:hover {
  color: #7cb1b6;
}

.nav-link:active {
  color: #8990a1;
}

.nav-link:focus {
  color: #7cb1b6;
}

.nav-link.w--current {
  color: #7cb1b6;
}

.nav-link.active {
  color: #7cb1b6;
}

.navigation-menu-right {
  display: inline-block;
  height: 100%;
  padding-top: 8px;
  float: right;
}

.yellow-button {
  height: 35px;
  margin-right: 5px;
  margin-left: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
  border: 1px solid #ffb600;
  border-radius: 3px;
  background-color: #ffb600;
  font-family: proxima-nova-soft, sans-serif;
  color: #544c5f;
  font-size: 13px;
  line-height: 34px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.yellow-button:hover {
  border-color: #f8d26e;
  background-color: #f8d26e;
}

.yellow-button.large {
  width: 235px;
  height: 50px;
  margin-top: 40px;
  margin-right: 10px;
  margin-left: 0px;
  padding-right: 28px;
  padding-left: 28px;
  font-size: 1.1rem;
  line-height: 50px;
  text-align: center;
}

.yellow-button.large.small-margin-top {
  margin-top: 15px;
}

.clear-button-small {
  height: 35px;
  padding-top: 0px;
  padding-bottom: 0px;
  float: none;
  border: 1px solid #7cb1b6;
  border-radius: 3px;
  background-color: transparent;
  font-family: proxima-nova-soft, sans-serif;
  color: #7cb1b6;
  font-size: 13px;
  line-height: 34px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.clear-button-small:hover {
  background-color: #7cb1b6;
  color: #fff;
}

.clear-button-small.nav-button {
  margin-left: 5px;
  float: right;
}

.hero-div {
  height: 640px;
  margin-top: 0px;
  padding-top: 200px;
  padding-bottom: 95px;
  background-image: url('home-bg-2.jpg');
  background-position: 100% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-div._2 {
  background-color: #fdf3de;
  background-image: url('home-bg-3.jpg');
  background-position: 150% 108%;
  background-size: auto;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.hero-content {
  width: 53%;
  height: 100%;
  float: left;
}

.section-how-it-works {
  padding-top: 80px;
  padding-bottom: 90px;
  background-color: #f9faf4;
}

.yellow {
  color: #ffb600;
  font-size: 42px;
}

.right-navigation-block {
  float: right;
}

.about-section-container {
  padding-right: 150px;
  padding-left: 150px;
  border-bottom: 0px none transparent;
  text-align: center;
}

.grey-paragraph {
  float: none;
  font-family: rooney-sans, sans-serif;
  color: #687173;
  font-size: 20px;
  line-height: 34px;
  font-weight: 300;
  text-align: left;
}

.grey-paragraph.small {
  color: #87979b;
  font-size: 18px;
  line-height: 30px;
}

.grey-paragraph.small.how-it-works-text {
  display: block;
  max-width: 300px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  text-transform: none;
}

.grey-paragraph.statistic-paragraph {
  text-align: left;
}

.grey-paragraph.quote-text {
  font-size: 18px;
  line-height: 28px;
}

.grey-paragraph.quote-text.author {
  margin-top: 15px;
  margin-bottom: 0px;
  color: #30393b;
  font-size: 16px;
  font-weight: 400;
}

.grey-paragraph.quote-text.small-footer-text {
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}

.grey-paragraph.quote-text.copyright-text {
  display: inline-block;
  font-size: 14px;
  line-height: 22px;
  text-align: left;
}

.grey-paragraph.quote-text.copyright-text.right-copyright {
  text-align: right;
}

.grey-paragraph.quote-text.copyright-text.privacy-links {
  display: inline-block;
  margin-left: 20px;
  float: right;
}

.grey-paragraph.left-align {
  font-weight: 300;
  text-align: left;
}

.grey-paragraph.left-align.attribution {
  display: inline-block;
  margin-top: 13px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  float: left;
  font-family: freight-text-pro, sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.grey-paragraph.left-align.letter {
  font-family: freight-text-pro, sans-serif;
}

.grey-paragraph.centered {
  text-align: center;
}

.grey-paragraph.profile-photo-text {
  margin-top: 20px;
  text-align: center;
}

.grey-paragraph.narrative {
  font-family: freight-text-pro, sans-serif;
}

.grey-paragraph.narrative.caption {
  margin-top: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.grey-paragraph.narrative.enlarge-text {
  margin-top: 15px;
  margin-bottom: 0px;
  text-align: center;
}

.grey-paragraph.bold-name {
  margin-bottom: 5px;
  font-family: freight-text-pro, sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.how-it-works-row {
  margin-top: 80px;
  margin-bottom: 60px;
  text-align: center;
}

.title {
  margin-top: 30px;
  margin-bottom: 20px;
  color: #6c5788;
}

.how-it-works-div {
  display: block;
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 100px;
  padding-left: 100px;
  text-align: center;
}

.h2-span {
  padding-right: 10px;
  padding-left: 10px;
  background-color: #f9faf4;
  color: #6c5788;
}

.line-h2 {
  margin-right: 30px;
  margin-left: 30px;
  border-bottom: 1px solid #6c5788;
  color: #6c5788;
  line-height: 0.1em;
}

.summary {
  color: #4e595c;
  font-weight: 700;
}

.section-summary {
  padding-top: 110px;
  padding-bottom: 75px;
  background-color: #f9faf4;
}

.section-map {
  height: 650px;
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: url('us_map.png');
  background-position: 50% 50%;
  background-size: 1000px;
  background-repeat: no-repeat;
  background-attachment: scroll;
  text-align: center;
}

.left-h2 {
  text-align: left;
}

.yellow-statistic {
  color: #ffb600;
  font-size: 48px;
}

.source {
  margin-bottom: 40px;
  font-family: proxima-nova-soft, sans-serif;
  color: #999;
  font-style: italic;
  text-align: left;
}

.statistic-container {
  padding: 75px 100px 50px;
}

.section-privacy {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #f9faf4;
}

.left-div-box {
  width: 55%;
  margin-top: 45px;
  float: right;
}

.flower-set {
  float: left;
}

.simple-section-container {
  padding-right: 25px;
  padding-left: 25px;
}

.section-pricing {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #fff;
}

.section-testimonials {
  padding-top: 95px;
  padding-bottom: 110px;
  background-color: #f2f7f7;
}

.left-testimonial {
  margin-top: 25px;
  float: left;
}

.left-quote-box {
  display: inline-block;
  width: 85%;
  padding: 40px;
  float: right;
  background-color: #fff;
}

.left-image-quote {
  margin-top: 92px;
  float: left;
  border-radius: 206px;
}

.left-karet {
  display: inline-block;
  width: 15%;
  margin-top: 98px;
  float: none;
  border-top: 30px solid transparent;
  border-right: 30px solid #fff;
  border-bottom: 30px solid transparent;
}

.quote-box-and-karet {
  width: 60%;
  margin-left: -25px;
  float: left;
}

.quote-box-and-karet.right {
  display: inline-block;
  float: right;
}

.right-testimonial {
  display: block;
  margin-top: 35px;
  float: right;
}

.right-quote-box {
  display: inline-block;
  width: 85%;
  padding: 40px;
  float: left;
  background-color: #fff;
}

.right-karet {
  display: inline-block;
  width: 15%;
  margin-top: 70px;
  border-style: solid none solid solid;
  border-width: 30px;
  border-color: transparent #fff;
}

.right-image-quote {
  margin-top: 70px;
  float: right;
}

.testimonials {
  margin-top: 25px;
}

.navigation-div {
  display: block;
  margin-top: 5px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 75px;
  padding-left: 75px;
}

.navigation-div.small-nav-div {
  margin-top: 0px;
}

.section-footer {
  padding-top: 75px;
  padding-bottom: 30px;
  background-color: #fff;
  text-transform: none;
}

.section-footer.profile-footer {
  position: static;
  left: 0px;
  top: 965px;
  right: 0px;
  bottom: 0px;
  height: 90px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.right-footer {
  width: 35%;
  margin-top: 15px;
  float: right;
}

.footer-link {
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 16px;
}

.footer-container {
  padding-bottom: 20px;
  border-bottom: 0px none transparent;
}

.footer-container.profile-footer-container {
  padding-bottom: 0px;
}

.copyright-div {
  position: relative;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  border-style: solid none none;
  border-width: 1px;
  border-color: #eaeaea #000 #000;
}

.copyright-div.footercopyright-div {
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer-main-div {
  padding-bottom: 190px;
}

.footer-main-div.profile-footer-main {
  padding-bottom: 5px;
}

.footer-copyright-left {
  display: block;
  width: 100%;
  float: none;
}

.footer-copyright-left.profile-footer-copyright {
  margin-top: 15px;
  float: right;
  text-align: left;
}

.section-for-families {
  height: 100%;
  margin-top: 90px;
  padding-top: 50px;
  padding-bottom: 90px;
  background-color: #f9faf4;
}

.section-for-families.plain-page {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  overflow: hidden;
  height: auto;
}

.section-for-families.plain-page-scroll {
  position: relative;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  margin-top: 0px;
  padding-bottom: 91px;
}

.note-div {
  position: relative;
  display: inline-block;
  width: 100%;
  padding-bottom: 80px;
  background-color: #fff;
  box-shadow: 11px 11px 25px -15px rgba(0, 0, 0, .75);
  text-align: center;
}

.for-header {
  margin-top: 0px;
  margin-bottom: 0px;
  border-bottom: 0px none #eaeaea;
}

.for-header.orange {
  color: #e0684b;
}

.for-header.founder-letter {
  margin-top: 35px;
  margin-bottom: 55px;
}

.for-header.founder-letter.no-margin-bottom {
  margin-top: 65px;
  margin-bottom: 0px;
}

.for-h3 {
  margin-top: 60px;
  margin-bottom: 10px;
  font-family: rooney-sans, sans-serif;
  font-size: 23px;
  font-weight: 400;
  text-align: left;
  text-transform: capitalize;
}

.for-h3.orange-h3 {
  color: #e0684b;
}

.check-image {
  margin-top: 10px;
}

.check-div {
  display: inline-block;
  width: 25px;
  float: left;
}

.list-text {
  display: inline-block;
  width: 92%;
  float: right;
}

.for-list {
  margin-top: 20px;
  padding-left: 0px;
}

.list-item {
  margin-bottom: 10px;
}

.call-to-action {
  margin-top: 50px;
  font-size: 24px;
  line-height: 36px;
}

.call-to-action.orange-call {
  color: #e0684b;
}

.phone-number {
  font-size: 32px;
  letter-spacing: 2px;
}

.note-header {
  padding-top: 60px;
  padding-bottom: 40px;
  border-bottom: 1px solid #eaeaea;
  background-image: -webkit-linear-gradient(270deg, rgba(162, 138, 210, .1), rgba(162, 138, 210, .1)), url('bg-how-it-works.png');
  background-image: linear-gradient(180deg, rgba(162, 138, 210, .1), rgba(162, 138, 210, .1)), url('bg-how-it-works.png');
  background-position: 0px 0px, 0px 0px;
  background-size: auto, 600px;
  background-repeat: repeat, repeat-x;
}

.note-header.orange-header {
  background-image: -webkit-linear-gradient(270deg, rgba(255, 182, 0, .16), rgba(255, 182, 0, .16)), url('bg-how-it-works.png');
  background-image: linear-gradient(180deg, rgba(255, 182, 0, .16), rgba(255, 182, 0, .16)), url('bg-how-it-works.png');
  background-position: 0px 0px, 0px 0px;
  background-size: auto, 600px;
  background-repeat: repeat, repeat-x;
}

.note-body {
  margin-top: 40px;
  margin-bottom: 0px;
  padding-right: 80px;
  padding-left: 80px;
}

.section-profile-splash {
  position: static;
  left: 0px;
  top: 60px;
  right: 0px;
  bottom: 0px;
  margin-top: 60px;
  padding-top: 50px;
  padding-bottom: 30px;
  background-color: #f9faf4;
}

.profile-splash {
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
}

.profile-photo-border {
  display: block;
  width: 650px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 11px 11px 25px -15px rgba(0, 0, 0, .75);
}

.profile-image {
  width: 100%;
}

.profile-slider {
  height: 100%;
  background-color: #f9faf4;
}

.profile-full-vert {
  position: static;
}

.profile-h1 {
  margin-top: 0px;
  margin-bottom: 15px;
  font-size: 52px;
  line-height: 56px;
  text-align: center;
}

.profile-icon {
  color: #a28ad2;
}

.slide-nav {
  display: none;
}

.center {
  text-align: center;
}

.profile-preferences {
  margin-top: 0px;
  margin-bottom: 0px;
}

.profile-tabs-content {
  padding: 25px 40px;
  background-color: #fff;
  box-shadow: 11px 11px 25px -15px rgba(0, 0, 0, .75);
}

.tab-link {
  margin-right: 7px;
  margin-left: 0px;
  padding: 14px 19px 10px;
  border-right: 1px none #687173;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: hsla(191, 5%, 43%, .1);
  font-family: proxima-nova-soft, sans-serif;
  color: hsla(191, 5%, 43%, .65);
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.tab-link:hover {
  background-color: hsla(191, 5%, 43%, .2);
  color: hsla(191, 5%, 43%, .51);
}

.tab-link.w--current {
  padding: 14px 20px 10px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: #7cb1b6;
  font-family: proxima-nova-soft, sans-serif;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.tabs-menu {
  height: auto;
  border-bottom: 1px solid #eaeaea;
  background-color: #f9faf4;
}

.info-row {
  margin-top: 10px;
  margin-bottom: 10px;
}

.info-paragraph {
  font-weight: 700;
}

.info-paragraph-light {
  font-weight: 400;
}

.tab-info-row {
  margin-bottom: 20px;
  padding-right: 10px;
  padding-bottom: 14px;
  padding-left: 10px;
  border-bottom: 1px solid #eaeaea;
}

.tab-info-row.single {
  margin-bottom: 0px;
  padding-bottom: 0px;
  border-bottom-style: none;
}

.music-video {
  width: 300px;
  height: 300px;
}

.section-profile-family-tips {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f9faf4;
}

.section-profile-media {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f9faf4;
  text-align: center;
}

.media-image {
  position: relative;
  z-index: -1;
  width: 100%;
  height: 250px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  border-style: solid;
  border-width: 1px;
  border-color: hsla(191, 5%, 43%, .4);
}

.media-image:hover {
  box-shadow: 0 -1px 6px 2px #7cb1b6;
}

.slider-parent {
  width: 100%;
  height: 100%;
  padding: 35px 65px;
  background-color: #fff;
  box-shadow: 11px 11px 25px -15px rgba(0, 0, 0, .75);
}

.slide {
  width: 33.3%;
  margin-right: 10px;
  margin-left: 10px;
}

.slider-icon {
  background-color: transparent;
  color: #7cb1b6;
  font-size: 50px;
}

.section-profile-stories {
  padding-top: 30px;
  padding-bottom: 100px;
  background-color: #f9faf4;
}

.slider-title {
  display: block;
  height: 45px;
  padding: 14px 35px 10px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: #7cb1b6;
  font-family: proxima-nova-soft, sans-serif;
  color: #fff;
  font-weight: 600;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.profile-stories {
  display: inline-block;
  margin-top: 0px;
  padding-right: 40px;
  padding-bottom: 25px;
  padding-left: 40px;
  background-color: #fff;
  box-shadow: 11px 11px 25px -15px rgba(0, 0, 0, .75);
}

.story-row {
  margin-top: 15px;
  margin-bottom: 15px;
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: 1px dashed hsla(191, 5%, 43%, .4);
}

.story-row.first {
  padding-top: 20px;
}

.single-item-story-row {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 40px;
  border-style: none none dashed;
  border-width: 1px;
  border-color: #000 #000 hsla(191, 5%, 43%, .4);
}

.contact-field {
  height: 55px;
  margin-bottom: 25px;
  padding: 18px 13px;
  border-style: solid;
  border-width: 1px;
  border-color: hsla(191, 5%, 43%, .3);
  border-radius: 3px;
  font-family: proxima-nova-soft, sans-serif;
  color: #687173;
  font-size: 20px;
  line-height: 24px;
  font-style: italic;
}

.contact-field:focus {
  border-color: #7cb1b6;
  box-shadow: 0 0 6px 1px #7cb1b6;
  color: #687173;
  font-style: italic;
}

.contact-form {
  padding-top: 40px;
}

.success-container {
  text-align: center;
}

.success-heading {
  font-size: 34px;
}

.bold {
  font-weight: 700;
}

.tanbody {
  background-color: #f9faf4;
}

.privacy-link {
  font-size: 14px;
}

.media-mask {
  padding: 7px;
}

.video-play-media-overlay {
  background-image: url('play-btn.png');
  background-position: 50% 50%;
  background-size: 125px;
  background-repeat: no-repeat;
}

.caption-small {
  font-size: 17px;
  font-weight: 400;
}

.section-explore {
  height: 100%;
  margin-top: 90px;
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #f9faf4;
}

.sample-stories {
  display: inline-block;
  width: 80%;
  margin: 50px auto 30px;
  text-align: center;
}

.sample-story-img {
  width: 250px;
  margin-bottom: 10px;
  border-style: solid;
  border-width: 10px;
  border-color: hsla(191, 5%, 43%, .3);
  border-radius: 461px;
}

.explore-container {
  text-align: center;
}

.section-save-time {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #fff;
}

.small-hr-left {
  width: 110px;
  height: 1px;
  margin-top: 50px;
  margin-bottom: 35px;
  background-color: hsla(191, 5%, 43%, .4);
}

.note-attribution-div {
  width: 100%;
  padding-top: 0px;
  padding-bottom: 0px;
  float: left;
}

.attribution-link {
  display: inline-block;
  font-family: freight-text-pro, sans-serif;
  color: #a28ad2;
  font-weight: 700;
}

.attribution-link:hover {
  color: #a28ad2;
  font-weight: 700;
  text-decoration: underline;
}

.who-we-are {
  margin-top: 80px;
}

.who-we-are-sub-header {
  margin-bottom: 65px;
}

.about-us-profile-image {
  border-radius: 100px;
}

.founder-row {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 50px;
}

.plain-link {
  display: inline-block;
  font-family: freight-text-pro, sans-serif;
  color: #a28ad2;
  font-weight: 400;
}

.plain-link:hover {
  color: #a28ad2;
  text-decoration: underline;
}

.dashed-hr {
  display: block;
  width: 20%;
  height: 1px;
  margin-top: 80px;
  margin-right: auto;
  margin-left: auto;
  border-bottom: 2px dashed hsla(191, 5%, 43%, .4);
  color: transparent;
}

.signature {
  display: block;
}

.about-us-links {
  margin-bottom: 50px;
  text-align: center;
}

.abt-link {
  display: inline-block;
  margin-right: 25px;
  margin-left: 25px;
  padding-bottom: 15px;
  border-bottom: 4px solid #687173;
  color: hsla(191, 5%, 43%, .4);
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.abt-link:hover {
  border-bottom-color: #2c2c2c;
  color: #687173;
}

.abt-link.w--current {
  border-bottom-color: #a28ad2;
  color: #6c5788;
}

.section-what-we-do {
  padding-top: 80px;
  padding-bottom: 90px;
  background-color: #f9faf4;
}

.see-stories-link {
  margin-top: 30px;
  color: #7cb1b6;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}

@media (max-width: 991px) {
  .navigation.small-nav {
    height: 65px;
    background-color: #fff;
  }
  .logo.small-logo {
    display: inline-block;
  }
  .logo.small-logo.m-only {
    display: none;
  }
  .clear-button-small.nav-button {
    display: none;
  }
  .hero-div {
    height: 600px;
    background-color: #fff2d6;
    background-image: url('bg-how-it-works.png');
    background-position: -94px 0px;
    background-size: 800px;
    background-repeat: repeat;
  }
  .hero-div._2 {
    background-color: #fff2d6;
    background-image: url('bg-how-it-works.png');
    background-size: contain;
    background-repeat: repeat;
  }
  .hero-content {
    width: 100%;
  }
  .about-section-container {
    padding-right: 85px;
    padding-left: 85px;
  }
  .grey-paragraph {
    text-align: center;
  }
  .grey-paragraph.small.how-it-works-text {
    max-width: 400px;
  }
  .grey-paragraph.narrative {
    text-align: left;
  }
  .section-map {
    height: 700px;
  }
  .left-div-box {
    margin-top: 10px;
  }
  .navigation-div {
    padding-right: 10px;
    padding-left: 30px;
  }
  .section-for-families {
    padding-top: 20px;
    padding-bottom: 40px;
  }
  .list-text {
    width: 90%;
  }
  .note-body {
    padding-right: 60px;
    padding-left: 60px;
  }
  .profile-photo-border {
    width: 550px;
  }
  .profile-h1 {
    font-size: 46px;
  }
  .tab-link {
    margin-right: 5px;
    padding-right: 13px;
    padding-left: 13px;
    font-size: 11px;
    letter-spacing: 1px;
  }
  .tab-link.w--current {
    margin-right: 5px;
    padding-right: 13px;
    padding-left: 13px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    font-size: 11px;
  }
  .tabs-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  .section-profile-stories {
    padding-bottom: 60px;
  }
  .profile-stories {
    padding-right: 30px;
    padding-left: 30px;
  }
  .splash-container {
    text-align: center;
  }
  .how-it-works-column {
    margin-top: 40px;
  }
  .profile-menu-button {
    margin-top: -12px;
    font-size: 36px;
  }
  .main-nav-button {
    margin-top: -10px;
    font-size: 36px;
  }
}

@media (max-width: 767px) {
  .navigation.small-nav {
    background-color: #fff;
  }
  .logo.small-logo {
    display: none;
    text-align: center;
  }
  .logo.small-logo.m-only {
    display: block;
  }
  .nav-link {
    padding-right: 15px;
    padding-left: 15px;
  }
  .nav-link.w--current {
    padding-right: 18px;
    padding-left: 18px;
  }
  .about-section-container {
    padding-right: 60px;
    padding-left: 60px;
  }
  .grey-paragraph.small.how-it-works-text {
    max-width: 400px;
  }
  .grey-paragraph.narrative {
    margin-bottom: 30px;
  }
  .grey-paragraph.narrative.caption {
    margin-top: 20px;
    text-align: center;
  }
  .how-it-works-div {
    padding-right: 60px;
    padding-left: 60px;
  }
  .left-h2 {
    font-size: 28px;
    line-height: 40px;
  }
  .yellow-statistic {
    font-size: 36px;
    line-height: 44px;
  }
  .statistic-container {
    padding-right: 60px;
    padding-left: 60px;
  }
  .section-testimonials {
    padding-right: 15px;
    padding-left: 15px;
  }
  .quote-box-and-karet {
    margin-left: 0px;
  }
  .navigation-div {
    padding-right: 10px;
    padding-left: 20px;
  }
  .section-footer {
    padding-right: 15px;
    padding-left: 15px;
  }
  .right-footer {
    width: 53%;
  }
  .section-for-families {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .note-div {
    border-bottom: 1px solid hsla(191, 5%, 43%, .4);
    box-shadow: none;
  }
  .list-text {
    width: 88%;
  }
  .profile-h1 {
    font-size: 38px;
    line-height: 46px;
  }
  .tab-link {
    margin-right: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
  .tab-link.w--current {
    margin-right: 0px;
  }
  .tabs-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .slide {
    width: 50%;
  }
  .section-profile-stories {
    padding-bottom: 50px;
  }
  .story-row.first {
    padding-bottom: 20px;
  }
  .about-us-profile-image {
    margin-bottom: 25px;
  }
}

@media (max-width: 479px) {
  h1 {
    font-size: 34px;
  }
  .navigation.small-nav {
    background-color: #fff;
  }
  .logo {
    display: block;
    margin-right: auto;
    margin-left: auto;
    float: left;
  }
  .logo.small-logo.m-only {
    display: block;
  }
  .navigation-menu-left {
    margin-right: 0px;
    float: right;
    background-color: #40374b;
  }
  .navigation-menu-left.profile-navigation-right {
    position: relative;
    display: inline-block;
    clear: none;
    background-color: transparent;
  }
  .nav-link {
    padding-right: 8px;
    padding-left: 25px;
    font-size: 12px;
    letter-spacing: 1px;
  }
  .nav-link:hover {
    background-color: transparent;
  }
  .nav-link.w--current {
    padding-right: 8px;
    padding-left: 25px;
    background-color: #544c5f;
    letter-spacing: 1px;
  }
  .nav-link.profile-current {
    padding-left: 8px;
  }
  .nav-link.profile-current.w--current {
    padding-left: 8px;
    background-color: transparent;
  }
  .nav-link.profile-nav-link {
    padding-left: 8px;
  }
  .nav-link.profile-nav-link.w--current {
    background-color: transparent;
  }
  .yellow-button.large {
    margin-top: 20px;
    padding-right: 12px;
    padding-left: 12px;
    font-size: 16px;
    line-height: 48px;
  }
  .hero-div {
    height: 100%;
    padding-top: 120px;
  }
  .hero-content {
    padding-right: 15px;
    padding-left: 15px;
  }
  .right-navigation-block {
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
    float: right;
  }
  .about-section-container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .grey-paragraph.quote-text {
    text-align: left;
  }
  .grey-paragraph.quote-text.copyright-text.privacy-links {
    margin-left: 0px;
    float: none;
  }
  .grey-paragraph.narrative {
    font-size: 18px;
    line-height: 30px;
  }
  .grey-paragraph.bold-name {
    margin-bottom: 15px;
  }
  .how-it-works-row {
    margin-top: 10px;
  }
  .how-it-works-div {
    padding-right: 15px;
    padding-left: 15px;
  }
  .h2-span {
    display: block;
    line-height: 44px;
    text-align: center;
  }
  .line-h2 {
    display: inline;
    border-bottom-style: none;
    text-align: center;
  }
  .section-summary {
    padding-top: 80px;
    padding-bottom: 40px;
  }
  .section-map {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .yellow-statistic {
    font-size: 34px;
  }
  .statistic-container {
    padding: 10px 20px 30px;
  }
  .section-privacy {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .left-div-box {
    width: 100%;
    float: none;
  }
  .flower-set {
    display: none;
  }
  .section-pricing {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .section-testimonials {
    padding-top: 40px;
  }
  .left-testimonial {
    float: none;
  }
  .left-quote-box {
    width: 100%;
    float: none;
  }
  .left-image-quote {
    display: none;
  }
  .left-karet {
    display: none;
  }
  .quote-box-and-karet {
    width: 100%;
    float: none;
  }
  .right-quote-box {
    width: 100%;
    margin-bottom: 25px;
    float: none;
  }
  .right-karet {
    display: none;
  }
  .right-image-quote {
    display: none;
  }
  .navigation-div {
    padding-right: 0px;
  }
  .navigation-div.small-nav-div {
    padding-right: 5px;
    padding-left: 5px;
  }
  .section-footer {
    text-align: center;
  }
  .footer-main-div {
    padding-bottom: 80px;
    text-align: center;
  }
  .footer-copyright-left {
    text-align: center;
  }
  .section-for-families.plain-page {
    padding-right: 15px;
    padding-left: 15px;
  }
  .note-div {
    height: 100%;
  }
  .for-header {
    margin-bottom: 35px;
    font-size: 30px;
    line-height: 38px;
  }
  .list-text {
    width: 85%;
  }
  .note-header {
    padding-right: 15px;
    padding-left: 15px;
  }
  .note-body {
    padding-right: 20px;
    padding-left: 20px;
  }
  .section-profile-splash {
    padding-top: 30px;
  }
  .profile-photo-border {
    width: 300px;
  }
  .profile-h1 {
    font-size: 32px;
  }
  .info-row {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
  }
  .section-profile-media {
    height: 100%;
  }
  .slider-parent {
    position: relative;
    display: inline-block;
    height: 100%;
    padding-right: 45px;
    padding-left: 30px;
    float: none;
    clear: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  .slide {
    width: 100%;
  }
  .profile-stories {
    padding-right: 10px;
    padding-left: 10px;
  }
  .story-row {
    padding-top: 30px;
  }
  .privacy-link {
    margin-right: 5px;
    margin-left: 5px;
  }
  .sample-stories {
    margin-top: 0px;
  }
  .section-save-time {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .footer-row {
    display: none;
  }
  .about-us-links {
    padding-top: 35px;
  }
  .sample-block {
    margin-bottom: 35px;
  }
  .left-arrow {
    width: 15%;
  }
  .right-arrow {
    width: 15%;
  }
  .main-nav-button {
    display: block;
    float: right;
  }
  .main-nav-button.w--open {
    background-color: #40374b;
  }
}
