<div class="profile-footer section-footer">
  <div class="footer-container profile-footer-container w-container">
    <div class="footer-main-div profile-footer-main">
      <%= link_to root_path, class: 'logo w-nav-brand' do %>
        <h1 class="logo small-logo">MemoryWell<span class="yellow">.</span></h1>
      <% end %>
      <div class="footer-copyright-left profile-footer-copyright">
        <p class="copyright-text grey-paragraph quote-text right-copyright">© 2016 MemoryWell, Inc. All Rights Reserved.</p>
      </div>
    </div>
    <div class="copyright-div footercopyright-div"></div>
  </div>
</div>

