<div class="navigation small-nav w-nav" data-animation="default" data-collapse="none" data-duration="400">
  <div class="profile-menu-button w-nav-button">
    <div class="w-icon-nav-menu"></div>
  </div>
  <div class="navigation-div small-nav-div w-clearfix">
    <%= link_to home_samples_path, class: 'story-well-logo logo w-nav-brand' do %>
      <h1 class="logo small-logo">MemoryWell<span class="yellow">.</span></h1><h1 class="logo m-only small-logo">M<span class="yellow">.</span></h1>
    <% end %>
    <div class="right-nav-block-storywell right-navigation-block w-clearfix">
      <nav class="navigation-menu-left profile-navigation-right w-nav-menu" role="navigation">
        <a class="nav-link profile-current w-nav-link" href="#overview">top</a>
        <a class="nav-link profile-nav-link w-nav-link" href="#family-tips">family tips</a>
        <a class="nav-link profile-nav-link w-nav-link" href="#media">media</a>
        <a class="nav-link profile-nav-link w-nav-link" href="#stories">stories</a>
      </nav>
    </div>
  </div>
</div>

